<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="shortcut icon" href="../static/images/logo1-removebg-preview.png" type="image/x-icon">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
            
          <img
            src="../static/images/logo-removebg-preview.png"
            alt="Custom Logo"
          />
        </div>
        <nav class="nav-links">
          <a href="index.html" class="active">Home</a>
          <a href="menu.html">Menu</a>
          <a href="order_now.html">Order</a>
          <a href="#">Cart</a>
          <a href="feedback.html">Feedback</a>
        </nav>
        <div class="search-container">
          <i class="fas fa-search"><ion-icon name="search"></ion-icon></i>
          <input type="text" placeholder="Looking for something specific?" />
        </div>
        <div class="profile-icon">
          <i class="fas fa-user"><ion-icon name="person"></ion-icon></i>
        </div>
    </header>
    <div id="only_strip" style="background-color:#d3bd9a; height: 60px; margin-bottom: 30px;">
       
    </div>
      <main>
        <div class="row">
            <div class="col-2 menu_items">
              <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link nav-link-title" href="#item-1">Drinks</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Hot coffee</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">Cold Coffee</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-3">Hot Tea</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-4">Cold Tea</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-5">Lemonade Refreshers</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-6">CocunutMilk Refreshers</a>
                  </nav>
                  <a class="nav-link nav-link-title" href="#item-2">Food</a>
                  <a class="nav-link ms-3 my-1" href="#item-2-1">Breakfast</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-2">Bakery</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-3">Treats</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-4">Cookies</a>
                  <a class="nav-link nav-link-title" href="#item-3">At Home coffee</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Coffee Beans</a>
                   
                  </nav>
                </nav>
              </nav>
            </div>
          
            <div class="col-8">
              <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2 main_content" tabindex="0">
                <div id="item-1">
                    
                  <h4>Drinks</h4>
                   
                </div>
                <div id="item-1-1">
                  <h5>Hot Coffee</h5>
                      
                     <p class="coffee_titles">Brewed Coffee</p>
                     <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_190319-removebg-preview.png">
                            <p>
                              <a href="Order_selection.html" style="text-decoration: none;color:#6f4e37"> Featured Blonde <br>Single-origin Ethopia</a>
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-09_190319-removebg-preview.png">
                            <p>
                              Featured Medium Roast <br>-Pike Place Roast
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-09_190319-removebg-preview.png">
                            <p>
                               Featured Dark roast
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-09_190319-removebg-preview.png">
                            <p>
                               Decaf Pike Place Roast
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-09_190319-removebg-preview.png">
                            <p>
                              Caffe Misto
                            </p>
                        </div>
                     </div>


                   <p class="coffee_titles">Americano</p>
                     <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_192707-removebg-preview.png">
                            <p>
                               Caffe Americano
                            </p>
                        </div>
                         
                     </div>


                     <p class="coffee_titles">Latte</p>
                     <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_201635-removebg-preview.png">
                            <p>
                                Caffè Latte 
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-09_201635-removebg-preview.png">
                             <p>
                                Pistachio Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_204314-removebg-preview.png">
                             <p>
                                Cinnamon Dolce Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_201635-removebg-preview.png">
                             <p>
                                Blonde Vanilla Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_204947-removebg-preview.png">
                             <p>
                                Caramel Brulée Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_205734-removebg-preview.png">
                             <p>
                                Sugar Cookie Almondmilk Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_205943-removebg-preview.png">
                             <p>
                                Chestnut Praline Latte
                             </p>
                         </div>
                         
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_205545-removebg-preview.png">
                             <p>
                                Gingerbread Latte
                             </p>
                         </div>
                         
                         
                    </div>





                    <p class="coffee_titles">Cappuccino</p>
                     <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_211136-removebg-preview.png">
                            <p>
                                Cappuccino
                            </p>
                        </div>
                         
                          
                         
                         
                    </div>



                    <p class="coffee_titles">Mocha</p>
                    <div class="coffee"> 
                       <div>
                          <img src="../static/images/Screenshot_2025-02-09_211439-removebg-preview.png">
                           <p>
                                Caffe Mocha
                           </p>
                       </div>
                       <div>
                        <img src="../static/images/Screenshot_2025-02-09_211709-removebg-preview.png">
                         <p>
                               White Chocolate Mocha
                         </p>
                     </div>
                     <div>
                        <img src="../static/images/Screenshot_2025-02-09_212057-removebg-preview.png">
                         <p>
                            Peppermint Mocha
                         </p>
                     </div>
                     <div>
                        <img src="../static/images/Screenshot_2025-02-09_212400-removebg-preview.png">
                         <p>
                              Peppermint White Chocolate Mocha
                         </p>
                     </div>
                         
                        
                        
                   </div>


                   <p class="coffee_titles">Espresso Shot</p>
                   <div class="coffee"> 
                      <div>
                         <img src="../static/images/Screenshot_2025-02-09_212546-removebg-preview (1).png">
                          <p>
                                Espresso
                          </p>
                      </div>
                      <div>
                       <img src="../static/images/Screenshot_2025-02-09_212733-removebg-preview.png">
                        <p>
                              Espresso Con Pannna
                        </p>
                    </div>
                    
                        
                       
                       
                  </div>
                </div>
                <div id="item-1-2">
                  <h5>Cold Coffee</h5>
                  <p class="coffee_titles">Cold Brew</p>
                   <div class="coffee"> 
                      <div>
                         <img src="../static/images/Screenshot_2025-02-09_212933-removebg-preview.png" style="width: 130px;">
                          <p>
                                Cold Brew
                          </p>
                      </div>
                      <div>
                       <img src="../static/images/Screenshot_2025-02-09_213120-removebg-preview.png" style="width: 130px;">
                        <p>
                               Chocolate Hazelnut Cookie Cold Brew
                        </p>
                       </div>
                       <div>
                        <img src="../static/images/Screenshot_2025-02-09_213235-removebg-preview.png" style="width: 130px;">
                         <p>
                                Pistachio Cream Cold brew
                         </p>
                         </div>
                        <div>
                        <img src="../static/images/Screenshot_2025-02-09_213352-removebg-preview.png" style="width: 130px;">
                         <p>
                            Vanilla sweet Cream Cold Brew
                       </div>
                       <div>
                        <img src="../static/images/Screenshot_2025-02-09_213512-removebg-preview.png" style="width: 130px;">
                         <p>
                            Chocolate Cream cold Brew
                       </div>
                        
                    </div>
                     

                    <p class="coffee_titles">Iced Coffee</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_213856-removebg-preview.png" style="width: 130px;">
                            <p>
                                   Iced Coffee
                            </p>
                        </div>
                         
                    </div>

                    <p class="coffee_titles">Iced Americano</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_214047-removebg-preview.png">
                            <p>
                               Iced Caffe Americano
                            </p>
                        </div>
                         
                    </div>


                    <p class="coffee_titles">Iced Latte</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-09_214313-removebg-preview.png">
                            <p>
                            Iced Caffe Latte
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-09_214422-removebg-preview.png">
                             <p>
                              Iced Pictachio Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_214606-removebg-preview.png">
                             <p>
                             Iced Blonde Vanilla Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_214835-removebg-preview.png">
                             <p>
                               Iced Cinnamon Dolce Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_215101-removebg-preview.png" style="width: 130px;">
                             <p>
                              Iced Chestnut Praline Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_215240-removebg-preview.png">
                             <p>
                                Iced Sugar Cookie Almondmilk Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-09_215457-removebg-preview.png">
                             <p>
                               Iced GingerBread Latte
                             </p>
                         </div>
                         
                    </div>


                    <p class="coffee_titles">Iced Mocha</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_123733-removebg-preview.png" style="width: 130px;">
                            <p>
                            Iced Caffe Mocha
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_124239-removebg-preview (1).png">
                             <p>
                              Iced  White Chocolate Mocha
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_124431-removebg-preview.png">
                             <p>
                               Iced Peppermint Mocha
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_124709-removebg-preview.png">
                             <p>
                               Iced Peppermint White Chocolate Mocha
                             </p>
                         </div>
                   
                </div>
                 
                <div id="item-1-3">
                    <h5>Hot Tea</h5>
                    <p class="coffee_titles">Tea Latte</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_125010-removebg-preview.png">
                            <p>
                             Chai Latte
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_125148-removebg-preview.png">
                             <p>
                               Matcha latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_125454-removebg-preview.png">
                             <p>
                               london FOg latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_130119-removebg-preview.png">
                             <p>
                                GingerBread Oatmilk Chai
                             </p>
                         </div>
                    </div>


                    <p class="coffee_titles">Brewed Tea</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_130250-removebg-preview.png">
                            <p>
                             Honey Citrus Mint Tea
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_131010-removebg-preview.png">
                             <p>
                              Royal English Breakfast Tea
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_131156-removebg-preview.png">
                             <p>
                            Emperor's Clouds & Mist Tea
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_131408-removebg-preview.png">
                             <p>
                                Mint Majesty Tea
                             </p>
                         </div>
                    </div>
                   
                  </div>
                  <div id="item-1-4">
                    <h5>Cold Tea</h5>
                    <p class="coffee_titles">Iced Tea Latte</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_131533-removebg-preview.png" width="140px">
                            <p>
                              Iced Chai Latte
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_131742-removebg-preview.png">
                             <p>
                              Iced Chai Macha
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_131855-removebg-preview.png" width="140px">
                             <p>
                               Iced London Fog Latte
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_132120-removebg-preview.png">
                             <p>
                               Iced Gingerbread
                             </p>
                         </div>
                    </div>

                         
                         <p class="coffee_titles">Iced Tea</p>
                         <div class="coffee"> 
                             <div>
                                <img src="../static/images/Screenshot_2025-02-14_132231-removebg-preview.png">
                                 <p>
                                   Iced Black Tea
                                 </p>
                             </div>
                             <div>
                                 <img src="../static/images/Screenshot_2025-02-14_132347-removebg-preview.png">
                                  <p>
                                    Iced Green Tea
                                  </p>
                              </div>
                              <div>
                                 <img src="../static/images/Screenshot_2025-02-14_132520-removebg-preview.png">
                                  <p>
                                     Iced Green Tea Lemonade
                                  </p>
                              </div>
                              <div>
                                 <img src="../static/images/Screenshot_2025-02-14_132727-removebg-preview.png">
                                  <p>
                                     Iced Peach Green Tea
                                  </p>
                              </div>
                        </div>



                        <p class="coffee_titles">Tea Frappuccino</p>
                        <div class="coffee"> 
                            <div>
                               <img src="../static/images/Screenshot_2025-02-14_132856-removebg-preview.png">
                                <p>
                                  Matcha Creme Frappuccino 
                                </p>
                            </div>
                            <div>
                                <img src="../static/images/Screenshot_2025-02-14_133011-removebg-preview.png">
                                 <p>
                                   Chai Creme Frappuccino
                                 </p>
                             </div>
                              
                       </div>
                   


                    
                     
                </div>
                 
                <div id="item-1-5">
                  <h5>Refreshers</h5>
                  <p class="coffee_titles">Lemonade Refreshers</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_133255-removebg-preview.png">
                            <p>
                              Strawberry Lemonade Refresher
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_133425-removebg-preview.png">
                             <p>
                              BlackBerry Lemonade Refresher
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_133552-removebg-preview.png">
                             <p>
                               Mango GragonFruit Lemonade Refresher
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_133725-removebg-preview.png">
                             <p>
                                 Cran-Merry Orange Lemonade Refresher
                             </p>
                         </div>
                    </div>
                  
                 
                 
                  <p class="coffee_titles">CocunutMilk Refreshers</p>
                  <div class="coffee"> 
                    <div>
                       <img src="../static/images/Screenshot_2025-02-14_133858-removebg-preview.png">
                        <p>
                           Pink Drink
                        </p>
                    </div>
                    <div>
                        <img src="../static/images/Screenshot_2025-02-14_134015-removebg-preview.png">
                         <p>
                           Midnight Drink
                         </p>
                     </div>
                     <div>
                        <img src="../static/images/Screenshot_2025-02-14_134114-removebg-preview.png">
                         <p>
                            Dragon Drink
                         </p>
                     </div>
                     <div>
                        <img src="../static/images/Screenshot_2025-02-14_134229-removebg-preview.png">
                         <p>
                            Cran-Merry Drink
                         </p>
                     </div>
                </div>
                </div>
                    
                </div>


                <div id="item-2">
                    <h4>Food</h4>
                     
                 
                  <div id="item-2-1">
                    <h5>Breakfast</h5>
                    <p class="coffee_titles">Bytes Special Breakfast</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_134349-removebg-preview.png">
                            <p>
                                Egg,Pesto and Mozzarella Sandwich
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_134503-removebg-preview.png">
                             <p>
                                Impossible Breakfast Sandwich
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_134624-removebg-preview.png">
                             <p>
                                Cheddar and Egg White Sandwich
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_134722-removebg-preview.png">
                             <p>
                                Avocado Spread
                             </p>
                         </div>
                    </div>
                  </div>  
                  
                  <div id="item-2-2">
                    <h5>Bakery</h5>
                    <p class="coffee_titles">Croissants and Danishes</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_134907-removebg-preview.png">
                            <p>
                            Vanilla Bean Custard Danish
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_135016-removebg-preview.png">
                             <p>
                                 Turkey Sage Danish
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_135126-removebg-preview.png">
                             <p>
                                Baked Apple Croissant
                             </p>
                         </div>
                         
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_135255-removebg-preview.png">
                             <p>
                               Butter Cruissant
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_135356-removebg-preview.png">
                             <p>
                               Chocolate Croissant
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_135455-removebg-preview.png" width="150px">
                             <p>
                               Cheese Danish
                             </p>
                         </div>
                       </div>

                       <p class="coffee_titles">Muffins and Doughnuts</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_135555-removebg-preview.png">
                            <p>
                            Blueberry Streusel Muffin
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot 2025-02-14 135814.png">
                             <p>
                                Glazed Doughnut
                             </p>
                         </div>
                          
                          
                       </div>

                       <p class="coffee_titles">Bagels</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_140006-removebg-preview.png">
                            <p>
                             Plain Bagel
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_140203-removebg-preview.png">
                             <p>
                                Everything Bagel
                             </p>
                         </div>
                          
                          
                       </div>
                  </div>
                  <div id="item-2-3">
                    <h4>Treats</h4>
                    <p class="coffee_titles">Cake Pops</p>
                    <div class="coffee"> 
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_143129-removebg-preview.png">
                            <p>
                             Valentine Cake pop
                            </p>
                        </div>
                        <div>
                            <img src="../static/images/Screenshot_2025-02-14_143240-removebg-preview.png">
                             <p>
                                Birthday Cake Pop
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_143400-removebg-preview.png">
                             <p>
                                 Chocolate Cake Pop
                             </p>
                         </div>
                         <div>
                            <img src="../static/images/Screenshot_2025-02-14_143515-removebg-preview.png">
                             <p>
                                 Snowman Cake pop
                             </p>
                         </div>
                          
                          
                       </div>
                    
                  </div>
                  <div id="item-2-4">
                      <h5>Cookies</h5>
                      <p class="coffee_titles">Bytes Special Cookies</p>
                       
                      <div class="coffee"> 
                          <div>
                             <img src="../static/images/Screenshot_2025-02-14_143622-removebg-preview.png">
                              <p>
                                Chocolate chip Cookie
                              </p>
                          </div>
                          <div>
                              <img src="../static/images/Screenshot_2025-02-14_143622-removebg-preview.png">
                               <p>
                                  Double chocolate Cookie
                               </p>
                           </div>
                           <div>
                              <img src="../static/images/macrons.jpg">
                               <p>
                                   Macrons
                               </p>
                           </div>
                           <div>
                              <img src="../static/images/Screenshot_2025-02-14_143622-removebg-preview.png">
                               <p>
                                 Peanut Butter Cookie
                               </p>
                           </div>
                            
                            
                         </div>
                       
                    </div>
                     
                 </div>


              

              <div id="item-3">
                <h4>At Home coffee</h4>
                  
              </div>
              <div id="item-3-1">
                <h5> Whole Beans</h5>
                <p class="coffee_titles">Bytes And Brew Reserve</p>
                <div class="coffee"> 
                    <div>
                       <img src="../static/images/Screenshot_2025-02-14_143930-removebg-preview.png">
                        <p>
                            Sun-Dried Ethiopia Oromia West Arsi Packaged Coffee Whole Bean
                        </p>
                    </div>
                    <div>
                        <img src="../static/images/Screenshot_2025-02-14_143930-removebg-preview.png">
                         <p>
                            Mexico Tenejapa San Cristobal Packaged Coffee Whole Bean
                         </p>
                     </div>
                       
                      
                      
                   </div>
                   <p class="coffee_titles">Blonde Roast</p>
                <div class="coffee"> 
                    <div>
                       <img src="../static/images/Screenshot_2025-02-14_144049-removebg-preview.png" width="150px">
                        <p>
                            Single-Origin Ethiopia
                        </p>
                    </div>
                    <div>
                        <img src="../static/images/Screenshot_2025-02-14_144158-removebg-preview.png" width="150px">
                         <p>
                            Veranda Blend
                         </p>
                     </div>
                     <div>
                        <img src="../static/images/Screenshot_2025-02-14_144316-removebg-preview.png" width="150px">
                         <p>
                            Blonde Espresso Roast
                         </p>
                     </div>
                       
                      
                      
                   </div>

                   <p class="coffee_titles"> Medium Roast</p>
                   <div class="coffee"> 
                       <div>
                          <img src="../static/images/Screenshot_2025-02-14_144457-removebg-preview.png" width="150px">
                           <p>
                                Siren'S Blend 
                           </p>
                       </div>
                       <div>
                           <img src="../static/images/Screenshot_2025-02-14_144603-removebg-preview.png" width="150px">
                            <p>
                               Gautemala Antigua
                            </p>
                        </div>
                        <div>
                           <img src="../static/images/Screenshot_2025-02-14_144711-removebg-preview.png" width="150px">
                            <p>
                               Pike Place Roast
                            </p>
                        </div>
                          
                         
                         
                      </div>

                      <p class="coffee_titles">Dark Roast</p>
                      <div class="coffee"> 
                          <div>
                             <img src="../static/images/Screenshot_2025-02-14_144834-removebg-preview.png" width="150px">
                              <p>
                                   Decaf Sumatra
                              </p>
                          </div>
                          <div>
                              <img src="../static/images/Screenshot_2025-02-14_145035-removebg-preview.png" width="150px">
                               <p>
                                   Caffe Vernona
                               </p>
                           </div>
                           <div>
                              <img src="../static/images/Screenshot_2025-02-14_150440-removebg-preview.png">
                               <p>
                                Espresso Roast
                               </p>
                           </div>
                            
                 
              </div>
              
              </div>
               
                 
              </div>
            </div>
          </div>
         
      </main>
       
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1e